mixin home-carousel(spec)
	- spec = spec || {}
	- spec.__class = spec.__class || ''
	- spec.carousel = spec.carousel || ''

	
	section.home-carousel(class=spec.__class)
		.home-carousel__slick
			each item in site.data.homeCarousel
				.slick-wrapper
					.slick-text
						.container
							.slick-text__category
								span=item.category
							.slick-text__title
								span 
									a(href=item.link)=item.title
					.slick-image
						img(src=item.image)

		.home-carousel__arrows
			.container
				.carousel-arrows__wrap
					#progress.progress(role="progressbar" data-goal="100" aria-valuemin="0" aria-valuemax="100")
						.thumb-carousel__slick
							each item in site.data.homeCarousel
								.slick-image
									img(src=item.image)
					.progress-arrows
						.icon.prev.icon-arrow-left
						.icon.next.icon-arrow-right
							span Next
		.home-carousel__tab
			.pagination__page
					each item in spec.carousel
							button.btnTab=item.title
								span=item.category
								span=item.number