mixin social-feeds(spec)
	- spec = spec || {}
	- spec.__class = spec.__class || ''

		section.social-feeds(class=spec.__class)
				.container
					each item in site.data.socialFeeds
						.card-view(style="background: url("+item.image+") no-repeat center; background-size: cover;background-position: center;")
								div.social-icon-logo
									i.icon(class=item.icon)
								.company
									p.tweet-feeds= item.title
								.user
									.user_avatar
										img(src=item.avatar)
									.user_info
										a.user_name(href='#')= item.username