mixin input-select(spec)
	- spec = spec || {}
	- spec.__class = spec.__class || ''
	- spec.__options = spec.__options || {}
	- spec.__display =  spec.__display || ''
	- spec.__name = spec.__name || ''
	- spec.__id = spec.__id || ''
	- spec.__value = spec.__value || ''

	select.input-select(class=spec.__class, name=spec.__name, id=spec.__id)
		each opt, index in spec.__options
			if index == 0
				//- option(data-display=spec.__display)= opt
				option(data-display=spec.__display, value=spec.__id + "_" + index)= opt
			else
				option(value=spec.__id + "_" + index)= opt
